body {
    background-color: #f5f5dc;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: #8b4513;
    text-align: center;
}

h2 {
    color: #8b4513;
}

img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

a {
    color: #8b4513;
    text-decoration: none;
    font-weight: bold;
}

a: hover {
    color: #d2691e;
}
